*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.sotw-main{
    min-height: calc(100vh - 60px);
    background-color: #F6F6F6;
}

.sotw-container {
    /* background-color: yellow; */
    height: 100%;
    display: flex;
    flex-direction: column;
}
.sotw-top{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
h2 {
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
    color: #023047;
    margin:10px 60px;
}
.sotw-navs {
    text-decoration: none;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin: 5px 15px;
    width: 250px;
    height: 96px;
    cursor: pointer;
    transform: scale(1);
    transition: all 1s;
}
.sotw-navs:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 0px 1px rgba(152, 161, 179, 0.1), 0px 15px 35px -5px rgba(17, 24, 38, 0.15), 0px 5px 15px rgba(0, 0, 0, 0.08);
}
.sotw-boxes{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.sotw-boxes img{
    width: 250px;
    height: 96px;
    object-fit: cover;
}
.sotw-circle-1{
    font-size: 30px;
    display: flex;
    justify-content:center;
    align-items: center;
    width: 56px;
    height: 56px;
    background-color:#FB8500;
    color: white;
    border-radius: 100%;
}
.sotw-circle-2{
    font-size: 30px;
    display: flex;
    justify-content:center;
    align-items: center;
    width: 56px;
    height: 56px;
    background-color: #FFB703;
    ;
    color: white;
    border-radius: 100%;
}
.sotw-circle-3{
    font-size: 30px;
    display: flex;
    justify-content:center;
    align-items: center;
    width: 56px;
    height: 56px;
    background: #023047;
    color: white;
    border-radius: 100%;
}
.sotw-info{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 36px;
    font-family: Roboto;
    font-weight: 900;
    line-height: 42px;
    color: #505050;
}
.sotw-info span{
    font-size:12px;
    line-height: 14px;
    color: #838191;
    letter-spacing: 0.2px;
}

.sotw-middle{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    flex-wrap: wrap;
}
.image-holders{
    width: 100%;
    display: flex;
    gap: 20px;
    padding-inline: 20px;
    flex-wrap: wrap;
}
.sotw-sotw{
    /* width: 90%; */
    /* width: 568px; */
    /* flex: 1; */
    height: 457px;
    box-shadow: 0px 0px 0px 1px rgba(152, 161, 179, 0.1), 0px 15px 35px -5px rgba(17, 24, 38, 0.15), 0px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    background-color: grey;
    position: relative;
    margin-block: 20px;
    transform: scale(1);
    transition: all 0.5s ease; 
}
.sotw-sotw:hover {
    transform: scale(1.02)
}
.sotw-image{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: inherit;
}
.sotw-image-info{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content:center;
    /* background: blue; */
    bottom: 10px;
    left: 10px;
    height: 30%;
}
.sotw-image-info-h4{
    font-weight: 400;
    font-size: 16px;
    margin: 5px 0px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #FFB703;
    background-color: rgba(0, 0, 0, 0.3);
}
.sotw-image-info-h3{
    font-weight: 400;
    margin: 5px 0px;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 0.01em;
    color: #FFB703;
    background-color: rgba(0, 0, 0, 0.3);
}
.sotw-image-info-p{
    font-weight: 400;
    margin: 5px 0px;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.01em;
    color: #FFB703;
    background-color: rgba(0, 0, 0, 0.3);
}
.sotw-history{
    /* width: 427px; */
    width: 568px;
    min-height: 300px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #fff;
    box-shadow: 0px 0px 0px 1px rgba(152, 161, 179, 0.1), 0px 15px 35px -5px rgba(17, 24, 38, 0.15), 0px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    overflow-y: scroll;
    
}
::-webkit-scrollbar{
    background-color: White;
    width: 10px;
} 
::-webkit-scrollbar-thumb{
    background: #023047;
    border-radius: 10px;
}
.sotw-history p{
    font-weight:700;
    line-height: 24px;
    letter-spacing: 0.01 em;
    color: #34393C;
    text-align: center;
    position: sticky;
    top: 0;
    background-color: white;
    margin-top: 10px;
}

table{
    border-collapse: collapse;
}
th {
    background: rgba(247, 249, 252, 0.8);
    backdrop-filter: blur(4px);
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #687182;
}

tr:nth-child(even) {
    /* background-color: rgba(247, 249, 252, 0.8); */
}
td{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #34393C;
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid rgba(247, 249, 252, 0.8);
}

@media screen and (max-width: 600px){
    .sotw-sotw{
        margin: 10px;
        width: 90%;
    }
    .sotw-navs {
        width: 90%;
        height: 96px;
    }
    .sotw-history {
        width: 100%;
        margin-block: 50px;
        padding-inline-start: 20px;
    }
}

@media Screen and (width > 768px){
    .sotw-sotw{
        flex: 1;
    }
}

@media Screen and (width < 768px){
    .sotw-sotw{
        width: 90%;
    }
}

@media Screen and (max-width: 768px){
    .sotw-history {
        margin-top: 50px;
    }
}

@media Screen and (max-width:1024px){
    .sotw-history {
        margin-top: 50px;
    }
}